/* 全局样式表 */

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1200px;
}

body {
    /* 只写这个属性，会出现两个滚动条 */
    overflow-y: auto !important;
    /* 只写这个属性，当你打开dialog时，由于padding-right=0；页面宽度会大17px；dialog会抖动　 */
    padding-right: 0 !important;
}

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15) !important;
}

.el-table {
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination {
    margin-top: 15px;
}

.el-dialog__body {
    padding: 20px 50px;
}

.el-dialog__footer {
    padding: 0px 30px 20px 30px;
}

.el-cascader-panel {
    /* 解决cascader级联样式表超出屏幕的问题 */
    height: 210px;
}

.el-scrollbar__wrap {
    /* 隐藏横向滚动条 */
    overflow-x: hidden;
}

.el-steps {
    margin: 15px 0;
}

.el-step__title {
    font-size: 13px;
}

.ql-editor {
    min-height: 300px;
}

label.el-form-item__label {
    padding: 0 0 5px !important;
}